@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.header {
    &_fixed {
        position: fixed;
        left: 0;
        top: 0;
        z-index: 100;
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.05);
    }
}

.footer,
.header {
    background-color: white;
    width: 100%;
    padding: 50px 0;

    &__inner {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
        padding: 0 15px;
        width: 100%;
        max-width: 1140px;
        margin: 0 auto;
    }

    &__logo-wrapper {
        display: flex;
        padding-right: 146px;
    }

    &__menu {
        padding-right: 170px;
        z-index: 100;
    }

    &__logo {
        padding-right: 15px;

    }

    &__logo-title {
        padding-top: 5px;
        font-size: 16px;
        line-height: 18px;
        text-transform: uppercase;
    }

    &__menu-list {
        display: flex;

    }

    &__menu-list-link {
        @extend %font;
    }

    &__menu-list-link--active {
        color: $default;
        font-weight: 700;
    }

    &__menu-list-item+.header__menu-list-item {
        padding-left: 45px;
    }

    &__flex {
        display: flex;
    }

    &__phone-link {
        margin-right: 16px;
        z-index: 100;

        &:hover {
            background-image: url(../images/phone-hover.svg);
            background-repeat: no-repeat;
        }
    }

    &__phone {
        padding-right: 70px;
        @extend %font;
        z-index: 100;
    }

    &__bags-link {
        z-index: 100;
    }
}

.footer {
    &__content {
        padding: 104px 0 104px;
        background: #F1EADC;
    }

    &__menu-list-item+.footer__menu-list-item {
        padding-left: 45px;
    }

    &__phone {
        position: static;
    }

    &__email {
        display: block;
        padding-top: 20px;
        float: right;
        padding-right: 88px;
        @extend %font;
    }

    &__info {
        display: flex;
        justify-content: space-between;
        padding-top: 40px;
        width: 1033px;
    }

    &__info-items {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 480px;
    }

    &__info-list-menu {
        padding-bottom: 10px;
    }

    &__info-list-item {
        font-weight: 400;
        font-size: 13px;
        line-height: 18px;
        padding-bottom: 6px;
    }

    &__info-list-item-link {
        padding-bottom: 4px;
    }


    &__social-item {
        display: flex;
        margin-bottom: 30px;

    }

    &__social-link {
        padding-right: 10px;
    }

    &__social-visa {
        margin-left: 20px;
    }

}

.top {
    padding-bottom: 130px;

    &__bg {
        width: 800px;
        height: 850px;
        position: absolute;
        right: 0;
        top: 0;
        background: #F1EADC;
    }

    &__inner {
        display: flex;
        justify-content: space-between;
    }

    &__slider-left {
        padding-top: 186px;
    }

    &__slider-left-item {
        max-width: 563px;
    }

    &__slider-left-title {
        text-align: left;
        font-size: 55px;
        line-height: 60px;
        padding-bottom: 45px;

    }

    &__slider-left-text {
        text-align: right;
        font-weight: 400;
        font-size: 20px;
        line-height: 28px;
        padding-bottom: 52px;
        max-width: 385px;
    }

    &__slider-btn {
        display: flex;
        width: 311px;
        padding-bottom: 126px;
        margin-left: 75px;
    }

    &__slider-left-arrow {
        width: 68px;
        height: 68px;
        background: rgba(110, 156, 159, 0.1);
        padding-left: 24px;
    }

    &__slider-left-shop {
        background-color: $default;
        width: 243px;
        height: 68px;
        padding: 22px 50px;

        &:hover {
            background-color: #509498;
        }
    }

    &__slider-left-link {
        color: #fff;
    }

    &__slider-right-imgSmall,
    &__slider-right-imgLarge {
        position: absolute;
        z-index: 11;
    }

    &__slider-right-imgSmall {
        right: 230px;
        bottom: 365px;
    }

    &__slider-right-imgLarge {
        right: 685px;
        bottom: -50px;
    }

    &__slider-right {
        z-index: 10;

    }

    &__slider-right-img {
        position: relative;
        right: -130px;
    }
}

.new-collection {
    padding: 130px 0;

    &__title {
        font-size: 40px;
        line-height: 44px;
        padding-bottom: 92px;
    }

    &__grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
        margin-bottom: 65px;
    }

    &__btn {
        display: block;
        margin: 0 auto;
        padding: 22px 50px;
        width: 243px;
        height: 68px;
        border: 1px solid $default;
        background-color: #fff;

        &:hover {
            background-color: $default;

            .new-collection__btn-link {
                color: #fff;
            }
        }
    }

    &__btn-link {
        color: $default;
    }
}

.collection {
    &__grid-item {
        position: relative;
        padding-bottom: 65px;

        &:hover {

            .collection__grid-hover,
            .collection__grid-arrow {
                opacity: 1;

            }
        }
    }

    &__grid-img {
        object-fit: cover;
    }

    &__grid-hover {
        width: 350px;
        height: 478px;
        background-color: rgba($default, .7);
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        padding: 10px;
        opacity: 0;
        transition: all, .5s;
    }

    &__grid-arrow {
        position: absolute;
        top: 40%;
        right: 0;
        left: 45%;
        bottom: 0;
        padding: 10px;
        opacity: 0;
        transition: all, .5s;
    }

    &__grid-title {
        font-size: 20px;
        line-height: 28px;
        text-align: center;
    }

    &__price {
        display: flex;
        align-items: center;
        justify-content: center;

    }

    &__grid-text-oldPrice {
        font-size: 15px;
        line-height: 21px;
        color: #9C9C9C;
        text-decoration: line-through;
        padding-right: 10px;
    }

    &__grid-text {
        font-size: 15px;
        line-height: 21px;
        color: #998E78;
        text-align: center;
    }

}

.qualities {
    padding-bottom: 130px;

    &__title {
        font-size: 40px;
        line-height: 44px;
        padding-bottom: 92px;
    }

    &__flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__flex-img {
        width: 61px;
        height: 61px;
        margin-bottom: 37px;
    }

    &__flex-title {
        font-size: 25px;
        line-height: 35px;
        padding-bottom: 24px;
    }

    &__flex-text {
        font-size: 17px;
        line-height: 24px;
        width: 305px;
    }
}

.team {
    padding-bottom: 130px;

    &__title {
        font-size: 40px;
        line-height: 44px;
        padding-bottom: 92px;
    }

    &__flex {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    &__flex-title {
        padding-bottom: 28px;
        font-size: 25px;
        line-height: 35px;
    }

    &__flex-text {
        padding-bottom: 28px;
        width: 235px;
    }

    &__flex-link {
        color: $default;

        &:hover {
            border-bottom: 1px solid #CEDEDF;
        }
    }


}

.shop {
    &__items {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .mixitup-control-active {
        background: #000;
        color: #fff;
    }

    &__btn {
        width: 200px;
        height: 62px;
        background: #fff;
        margin-right: 10px;
        margin-bottom: 92px;
    }

}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 92px;
    margin-bottom: 130px;

    &__list {
        display: flex;
    }

    &__arrow,
    &__list-item {
        margin: 0 8px;
    }

    &__arrow--disabled {
        opacity: 0;
        pointer-events: none;
    }

    &__list-num {
        color: #000;
        border: 1px solid #000;
        padding: 9px 16px;
    }

    &__list-num--active {
        background-color: #000;
        color: #fff;
    }
}

.shop-one {
    padding-bottom: 130px;

    &__flex {
        display: flex;
        align-items: center;
        margin-bottom: 130px;
    }

    &__img {
        margin-right: 74px;
    }

    &__price {
        display: flex;
        align-items: center;
        margin-bottom: 59px;
    }

    &__newPrice {
        margin-right: 29px;
        font-size: 40px;
        line-height: 44px;
        color: #998E78;
    }

    &__oldPrice {
        font-size: 30px;
        line-height: 33px;
        color: #9C9C9C;
        text-decoration: line-through;
    }

    &__text {
        margin-bottom: 34px;
        font-size: 20px;
        line-height: 28px;
    }

    &__size {
        margin-bottom: 59px;
    }

    &__btn-size {
        margin-right: 14px;
        width: 45px;
        height: 45px;
        background-color: #fff;
        border: 1px solid #000;
        cursor: pointer;
    }

    &__btn-size--active {
        background-color: #000;
        color: #fff;
    }

    &__btn-color {
        width: 41px;
        height: 41px;
        border-radius: 100px;
        margin-right: 14px;
        margin-bottom: 59px;
        cursor: pointer;
    }

    &__btn-color--active {
        border: none;
    }

    &__brown {
        background: #927876;
    }

    &__gray {
        background-color: #D5D5D5;
    }

    &__orange {
        background-color: #FD9696;
    }

    &__yellow {
        background-color: #FDC796;
    }

    &__input {
        width: 68px;
        height: 68px;
        text-align: center;
        font-size: 20px;
        line-height: 28px;
        margin-right: 11px;
    }

    &__btn-bascket {
        width: 268px;
        height: 68px;
        font-weight: 400;
        font-size: 17px;
        line-height: 23px;
        color: #fff;
        background-color: $default;
        cursor: pointer;
    }

    &__title {
        font-size: 40px;
        line-height: 44px;
        margin-bottom: 67px;
    }

    &__flex-item {
        margin-right: 30px;
    }
}

.about-brand {
    margin-top: 214px;

    &__flex {
        display: flex;
        align-items: center;
    }

    &__img {
        padding-right: 100px;
    }

    &__info {
        padding-right: 100px;
    }

    &__title {
        font-size: 25px;
        line-height: 35px;
        margin-bottom: 46px;
    }

    &__btn {
        width: 260px;
        height: 68px;
        background-color: $default;
        display: block;
        margin: 0 auto;
        margin-top: 130px;
        margin-bottom: 130px;
        border: none;
    }

    &__link {
        color: #fff;
    }
}

.map {
    margin-bottom: 130px;
}

.contact {
    &__flex {
        display: flex;
    }

    &__flex-item {
        padding-right: 98px;
        margin-bottom: 130px;
    }

    &__flex-title {
        font-size: 20px;
        line-height: 28px;
        padding-bottom: 19px;
    }

    &__form {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    &__form-title {
        font-size: 25px;
        line-height: 35px;
        padding-bottom: 62px;
    }

    &__form-input,
    &__form-area {
        border: none;
        border-bottom: 2px solid #000;
        outline: none;
        padding-bottom: 16px;
        padding-top: 35px;
    }

    &__form-input {
        width: 350px;
    }

    &__form-area {
        width: 443px;
        height: 134px;
        resize: none;
        margin-bottom: 35px;
    }

    &__form-btn {
        width: 189px;
        height: 68px;
        background-color: $default;
        display: block;
        border: none;
        color: #fff;
    }
}

.cart {
    &__flex {
        display: flex;
        justify-content: space-between;
    }

    &__flex-line {
        border-bottom: 1px solid #ccc;
        padding-bottom: 26px;
    }

    &__flex-item {
        display: flex;
        align-items: center;
    }

    &__flex-title {
        padding-left: 215px;
    }

    &__flex-link,
    &__flex-img {
        padding-right: 30px;
        padding-top: 50px;
    }

    &__flex-input {
        width: 30px;
        height: 30px;
    }
    &__flex-coupon{
        padding-top: 77px;
    }

    &__flex-coupon-input {
        border: none;
        border-bottom: 2px solid #000;
        outline: none;
        padding-bottom: 16px;
        padding-top: 35px;
    }

    &__flex-coupon-link,
    &__flex-cart-link {
        color: $default;

    }
    &__flex-coupon-btn{
        margin-left: 16px;
    }

    &__flex-coupon-btn,
    &__flex-cart-btn {
        padding: 22px 50px;
        width: 248px;
        height: 68px;
        border: 1px solid $default;
        background-color: #fff;
    }

    &__flex-cart-btn {
        width: 254px;
        margin-left: 337px;
    }
    &__total{
        text-align: right;
        padding-top: 94px;
    }
    &__total-text{
        padding-right: 365px;
        padding-bottom: 28px;
    }
    &__total-flex{
        display: flex;
        justify-content: right;
        padding-right: 35px;
    }
    &__total-flex-item{
        background: #F1EADC;
        padding: 16px 51px 17px 31px;
        margin-right: 15px;
    }
    &__total-flex-btn{
        width: 236px;
        height: 68px;
        background-color: $default;
        display: block;
        border: none;
        color: #fff;
    }
    &__total-flex-link{
        color: #fff;
    }
}

.container-checkout{
    margin: 0px 437px 130px 300px;
}
.checkout{
    &__grid{
        display: grid;
        grid-template-columns: 350px 255px;
        column-gap: 313px;
    }
    &__grid-title{
        font-size: 25px;
        line-height: 35px;
        margin-bottom: 47px;
    }
    &__grid-form-input,
    &__grid-form-area{
        color: #868686;
        margin-bottom: 35px;
        padding-bottom: 16px;
        border: none;
        border-bottom: 2px solid #000;
        outline: none;
        width: 350px;
    }
    &__grid-order{
        display: grid;
        grid-template-columns: 123px 59px;
        column-gap: 73px;
    }
    &__grid-order-title{
        font-size: 20px;
        line-height: 28px;
        padding-bottom: 30px;
    }
    &__grid-order-text{
        padding-bottom: 30px;
    }
    &__grid-order-item{
        display: grid;
        grid-template-columns: 123px 59px;
        column-gap: 73px;
        background: #F1EADC;
        width: 284px;
        height: 55px;
        padding: 14px 0 14px ;
    }
    &__grid-label{
        display: flex;
        padding-bottom: 47px;
    }
    &__grid-checkbox{
        margin-right: 14px;
    }
    &__grid-button{
        width: 236px;
        height: 68px;
        background-color: $default;
        display: block;
        border: none;
        color: #fff;
    }
    &__grid-link{
        color: #fff;
    }

}
.pay{
    margin-top: 159px;
    padding-bottom: 17px;
}
textarea{
    resize: none;
}
.success{
    margin-bottom: 130px;
    &__grid{
        display: grid;
        align-items: center;
        grid-template-columns: 488px 172px;
        column-gap: 350px
    }
    &__flex{
        display: flex;
        align-items: center;
    }
    &__flex-img{
        margin-right: 32px;
    }
    &__flex-tittle{
        font-size: 25px;
        line-height: 35px;
        margin-bottom: 17px;
    }
    &__grid-btn{
        padding: 22px 50px;
        width: 275px;
        height: 68px;
        border: 1px solid $default;
        background-color: #fff;
    }
    &__grid-link{
        color: $default;
    }
}